{% load static %}
{% get_static_prefix as YAM %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Coming Soon html5 template by GetTemplate</title>

	<link rel="shortcut icon" href="{{YAM}}assets/images/gt_favicon.png">
	
	<!-- Bootstrap itself -->
	<link href="{{YAM}}http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<!-- Icons -->
	<link href="{{YAM}}http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> 
	<!-- Fonts -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"> 
	<!-- Custom styles -->
	<link rel="stylesheet" href="{{YAM}}assets/css/styles.css">

	<!--[if lt IE 9]> <script src="assets/js/html5shiv.js"></script> <![endif]-->
</head>

<body>

<!-- Header -->
<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-push-2 text-center">
				<h1>SuperAwesome</h1>
				<h2>by GetTemplate</h2>
				<p class="lead">
					Pikachu diablo 3 asians angry birds final week varius le girlfriend in.
					Feel Like a Sir panda blizzard hac mom nerd monday in on nyan cat.
				</p>
				
				<p>SuperAwesome thing is currently in active development and will be released this summer.<br>
					In the meantime, please register to our waiting list to get notified first once something is launched.</p>
					<br>
				
				<form class="form-inline" role="form">
					<div class="form-group"><input type="text" class="form-control input-lg" id="exampleInputEmail2" placeholder="Your Name"></div>
					<div class="form-group"><input type="text" class="form-control input-lg" id="exampleInputPassword2" placeholder="Your Email"></div>
					<button type="submit" class="btn btn-lg btn-default">Subscribe</button>
				</form>
				<p class="small text-muted">Powered by Mailchimp. Unsubscribe at any time.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div id="illustration">
					<img src="{{YAM}}assets/images/ap-screenshot.png" alt="" >
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /Header -->
	

<!-- Content -->
<main class="content">

	<!-- Lead -->
	<section class="container space-before space-after">
		<div class="row">
			<div class="col-sm-10 col-sm-push-1">
				<h1 class="text-center">What it's all about</h1>
				<p class="lead text-center">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					Nam mi odio, gravida at turpis et, porta bibendum justo.
				</p> 
			</div>
		</div>
	</section>
	<!-- /Lead -->



	<!-- Features -->
	<section class="container space-before">
		
		<div class="row featurelist space-after">
			<div class="col-md-5 col-sm-6 col-md-push-1 ">
				<img class="img-feature img-responsive" src="{{YAM}}assets/images/screen1.png" alt="{{YAM}}Sample image">
			</div>
			<div class="col-md-5 col-md-push-1 col-sm-6">
				<h2 class="space-before">The template is quite small, <span class="text-muted">so html code is simple</span></h2>
				<p>What you have to ask yourself is, do I feel lucky. well do ya' punk? Ever notice how sometimes you come across somebody you shouldn't have f**ked with? Well, I'm that guy. Dyin' ain't much of a livin', boy.</p>
			</div>
		</div>

		<div class="row featurelist space-after">
			<div class="col-md-5 col-sm-6 col-sm-push-6">
				<img class="img-feature img-responsive" src="{{YAM}}assets/images/screen2.png" alt="{{YAM}}Sample image">
			</div>
			<div class="col-md-5 col-sm-6 col-md-pull-4 col-sm-pull-6">
				<h2 class="space-before">Yes, I love cool backgrounds, <span class="text-muted">like the one used here</span></h2>
				<p>There are 2 more color themes inside this template. You'll just need to uncomment 
					few lines in the CSS file to activate any of them. </p>
				<p>Now, continue with our lipsum :) 
					This is the ak-47 assault rifle, The preferred weapon of your enemy; and it makes a distinctive sound when 
					fired at you, so remember it. When a naked man's chasing a woman through an alley with a butcher knife and a hard-on, I figure he's not out collecting for the red cross. well, do you have anything to say for yourself? </p>
			</div>
		</div>

		<div class="row featurelist space-after">
			<div class="col-md-5 col-sm-6 col-md-push-1 col-sm-6">
				<img class="img-feature img-responsive" src="{{YAM}}assets/images/screen3.png" alt="{{YAM}}Sample image">
			</div>
			<div class="col-md-5 col-md-push-1 col-sm-6">
				<h2 class="space-before">Violet does look good too!</span></h2>
				<p>Here. Put that in your report! And "I may have found a way out of here. you want a guarantee, buy a toaster. are you feeling lucky punk dyin' ain't much of a livin', boy. what you have to ask yourself is, Do I feel lucky. Well do ya' punk? You see, in this world there's two kinds of people, my friend: those with loaded guns and those who dig. you dig.</p>
			</div>
		</div>
	</section>
	<!-- /Features -->

</main>


<footer id="footer" class="jumbotron">
	<section class="container">
		<div class="row">
				<div class="col-md-5 col-md-push-1">
					<h2>Got your interest?</h2>
					<p>Please tell your friends about SuperAwesome!</p>
					<!-- AddThis Button BEGIN -->
					<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
					<a class="addthis_button_facebook"></a>
					<a class="addthis_button_twitter"></a>
					<a class="addthis_button_linkedin"></a>
					<a class="addthis_button_google_plusone_share"></a>
					<a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
					</div>
					<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
					<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-536ba34f3dab1f93"></script>
					<!-- AddThis Button END -->
					
				</div>
				<div class="col-md-5 col-md-push-1">
					<h2>Need help?</h2>
					<p>For help with this or another template you've downloaded from GetTemplate, please email me at gt@gettemplate.com. </p>
					<p>If you'd like to report a bug or suggest an improvement, please post and issue on <a href="https://github.com/pozh/">GitHub</a> </p>
				</div>
		</div>	
	</section>
</footer>

<p class="small text-muted text-center">Copyright &copy; 2014, Your name. Design by: <a href="http://gettemplate.com/" rel="designer" title="Free Bootstrap templates">GetTemplate</a></p>
<br>



<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="{{YAM}}http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{YAM}}assets/js/template.js"></script>

</body>
</html>